flows_dattas-mac-202.local.json
[{"id":"d40102.763fbf","type":"tab","label":"configurator","disabled":false,"info":""},{"id":"f2dfa802.3665d8","type":"serial-port","z":"","serialport":"/dev/tty.wchusbserial1411140","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"\\r","responsetimeout":"10000"},{"id":"a002cd33.f5eb8","type":"ui_tab","z":"","name":"MONITOR MECHANISM CONFIGURATOR","icon":"dashboard","disabled":false,"hidden":false},{"id":"84817cb6.553cb","type":"serial-port","z":"","serialport":"/dev/ttyUSB0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"3000"},{"id":"170d252a.fc826b","type":"ui_group","z":"","name":"CONFIGURATOR","tab":"a002cd33.f5eb8","disp":true,"width":"6","collapse":false},{"id":"cfa4654c.3279d8","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"My dark","default":"#4B7930","baseColor":"#deb887","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#4B7930","value":"#deb887","edited":true},"page-titlebar-backgroundColor":{"value":"#2e333a","edited":true},"page-backgroundColor":{"value":"#383c45","edited":true},"page-sidebar-backgroundColor":{"value":"#434954","edited":true},"group-textColor":{"value":"#eedbc3","edited":false},"group-borderColor":{"value":"#3f454f","edited":true},"group-backgroundColor":{"value":"#3f454f","edited":true},"widget-textColor":{"value":"#cccccc","edited":true},"widget-backgroundColor":{"value":"#deb887","edited":false},"widget-borderColor":{"value":"#13131f","edited":true},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"6f34a25a.721bbc","type":"ui_spacer","name":"spacer","group":"170d252a.fc826b","order":8,"width":"2","height":1},{"id":"d387ec41.cd2b8","type":"ui_spacer","name":"spacer","group":"170d252a.fc826b","order":6,"width":"0","height":"0"},{"id":"11705e51.776a72","type":"serial out","z":"d40102.763fbf","name":"","serial":"f2dfa802.3665d8","x":1190,"y":240,"wires":[]},{"id":"e7cb0bff.6183b8","type":"serial in","z":"d40102.763fbf","name":"","serial":"f2dfa802.3665d8","x":360,"y":500,"wires":[["edb47e69.fd9ec"]]},{"id":"f75285e8.5b1e58","type":"ui_button","z":"d40102.763fbf","name":"unlock [$X]","group":"170d252a.fc826b","order":1,"width":"3","height":"1","passthru":false,"label":"unlock [$X]","tooltip":"","color":"","bgcolor":"","icon":"","payload":"$X","payloadType":"str","topic":"","x":370,"y":80,"wires":[[]]},{"id":"de49d97f.962e98","type":"ui_button","z":"d40102.763fbf","name":"home [$H]","group":"170d252a.fc826b","order":2,"width":"3","height":"1","passthru":false,"label":"home [$H]","tooltip":"","color":"","bgcolor":"","icon":"","payload":"$H","payloadType":"str","topic":"","x":370,"y":120,"wires":[["c8ebb3fc.d1fa5"]]},{"id":"26af5b81.369034","type":"ui_button","z":"d40102.763fbf","name":"SHOW CONFIG [$$]","group":"170d252a.fc826b","order":3,"width":"3","height":"1","passthru":false,"label":"SHOW CONFIG [$$]","tooltip":"","color":"","bgcolor":"","icon":"","payload":"$$","payloadType":"str","topic":"","x":340,"y":160,"wires":[["81e6e0e.979ac2"]]},{"id":"548b78a8.118aa8","type":"ui_button","z":"d40102.763fbf","name":"CLEAR","group":"170d252a.fc826b","order":10,"width":"2","height":"1","passthru":true,"label":"CLEAR","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":460,"y":640,"wires":[["bc4a52fb.3c092"]]},{"id":"bc4a52fb.3c092","type":"function","z":"d40102.763fbf","name":"reset vals","func":"global.set(\"msg_array\", []);\n\nmsg.payload = [];\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":640,"wires":[["53b1f5b1.a2815c"]]},{"id":"10ac0412.969fec","type":"ui_ui_control","z":"d40102.763fbf","name":"","events":"all","x":300,"y":640,"wires":[["548b78a8.118aa8"]]},{"id":"edb47e69.fd9ec","type":"function","z":"d40102.763fbf","name":"format response","func":"var list_struct = {\n    \"title\": \"\",\n    \"description\": \"\"\n};\n\nif (msg.payload.toString().length > 2){\n    list_struct.description = \"> \"+msg.payload.toString();\n    var curr_msg_array = global.get(\"msg_array\");\n    curr_msg_array.push(list_struct);\n    global.set(\"msg_array\", curr_msg_array);\n}\n\nmsg.payload = curr_msg_array;\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":600,"y":500,"wires":[["465e09e6.92fde8"]]},{"id":"465e09e6.92fde8","type":"ui_list","z":"d40102.763fbf","group":"170d252a.fc826b","name":"console","order":7,"width":"6","height":"6","lineType":"two","actionType":"none","allowHTML":true,"outputs":0,"topic":"","x":860,"y":500,"wires":[]},{"id":"53b1f5b1.a2815c","type":"link out","z":"d40102.763fbf","name":"reset node","links":["572f436f.baefec"],"x":735,"y":640,"wires":[]},{"id":"572f436f.baefec","type":"link in","z":"d40102.763fbf","name":"","links":["53b1f5b1.a2815c","2e91c4c9.6f93ac"],"x":715,"y":560,"wires":[["465e09e6.92fde8"]]},{"id":"7b9fd37d.805d9c","type":"function","z":"d40102.763fbf","name":"set curr cmd","func":"global.set(\"curr_cmd\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":420,"wires":[["50716fb9.5da27"]]},{"id":"2e91c4c9.6f93ac","type":"link out","z":"d40102.763fbf","name":"reset node","links":["572f436f.baefec"],"x":915,"y":420,"wires":[]},{"id":"50716fb9.5da27","type":"function","z":"d40102.763fbf","name":"format cmd","func":"var list_struct = {\n    \"title\": \"\",\n    \"description\": \"\"\n};\n\nif (msg.payload.toString().length > 0){\n    list_struct.description = \"cmd sent: \" + msg.payload.toString();\n    var curr_msg_array = global.get(\"msg_array\");\n    curr_msg_array.push(list_struct);\n    global.set(\"msg_array\", curr_msg_array);\n}\n\nmsg.payload = curr_msg_array;\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":790,"y":420,"wires":[["2e91c4c9.6f93ac"]]},{"id":"dea2b248.7a53b","type":"ui_text_input","z":"d40102.763fbf","name":"custom cmd","label":"custom cmd","tooltip":"","group":"170d252a.fc826b","order":9,"width":"4","height":"1","passthru":true,"mode":"text","delay":"0","topic":"","x":370,"y":320,"wires":[["ea743727.958068"]]},{"id":"e943bd18.5e165","type":"ui_text_input","z":"d40102.763fbf","name":"SET FEED RATE ","label":"SET FEED RATE [mm/sec]","tooltip":"","group":"170d252a.fc826b","order":4,"width":"0","height":"0","passthru":true,"mode":"text","delay":"0","topic":"","x":360,"y":200,"wires":[["b03e929f.c4d84"]]},{"id":"47dca17d.27528","type":"ui_text_input","z":"d40102.763fbf","name":"SET MAX TRAVEL","label":"SET MAX TRAVEL [mm]","tooltip":"","group":"170d252a.fc826b","order":5,"width":"0","height":"0","passthru":true,"mode":"text","delay":"0","topic":"","x":350,"y":240,"wires":[["2cc7bfed.8ffbb"]]},{"id":"d4f6eef5.b1b4b","type":"link in","z":"d40102.763fbf","name":"serial in","links":["6c5eb1c6.732fa","81e6e0e.979ac2","c8ebb3fc.d1fa5","ea743727.958068","87ac41e0.5ee6b","e3c9c7f3.502178"],"x":1015,"y":240,"wires":[["11705e51.776a72"]]},{"id":"6c5eb1c6.732fa","type":"link out","z":"d40102.763fbf","name":"cmd pallet","links":["d4f6eef5.b1b4b","e7c966fb.7cc908"],"x":555,"y":80,"wires":[]},{"id":"c8ebb3fc.d1fa5","type":"link out","z":"d40102.763fbf","name":"cmd pallet","links":["d4f6eef5.b1b4b","e7c966fb.7cc908"],"x":555,"y":120,"wires":[]},{"id":"81e6e0e.979ac2","type":"link out","z":"d40102.763fbf","name":"cmd pallet","links":["d4f6eef5.b1b4b","e7c966fb.7cc908"],"x":555,"y":160,"wires":[]},{"id":"ea743727.958068","type":"link out","z":"d40102.763fbf","name":"cmd pallet","links":["d4f6eef5.b1b4b","e7c966fb.7cc908"],"x":555,"y":320,"wires":[]},{"id":"b03e929f.c4d84","type":"function","z":"d40102.763fbf","name":"add pre for feed rate","func":"var new_msg = {\n    \"topic\": \"\",\n    \"payload\": \"\"\n}\nnew_msg.payload = \"$112=\" + msg.payload.toString();\nreturn new_msg;","outputs":1,"noerr":0,"x":580,"y":200,"wires":[[]]},{"id":"2cc7bfed.8ffbb","type":"function","z":"d40102.763fbf","name":"add pre for max travel","func":"var new_msg = {\n    \"topic\": \"\",\n    \"payload\": \"\"\n}\nnew_msg.payload = \"$132=\" + msg.payload.toString();\nreturn new_msg;","outputs":1,"noerr":0,"x":580,"y":240,"wires":[["e3c9c7f3.502178"]]},{"id":"e3c9c7f3.502178","type":"link out","z":"d40102.763fbf","name":"cmd pallet","links":["d4f6eef5.b1b4b","e7c966fb.7cc908"],"x":735,"y":240,"wires":[]},{"id":"e7c966fb.7cc908","type":"link in","z":"d40102.763fbf","name":"","links":["6c5eb1c6.732fa","81e6e0e.979ac2","87ac41e0.5ee6b","c8ebb3fc.d1fa5","e3c9c7f3.502178","ea743727.958068"],"x":455,"y":420,"wires":[["7b9fd37d.805d9c"]]}]