flows_localhost.json
[{"id":"e286b881.c92828","type":"tab","label":"configurator","disabled":false,"info":""},{"id":"8ebcd172.70af2","type":"serial-port","z":"","serialport":"/dev/tty.wchusbserial1411140","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"\\r","responsetimeout":"10000"},{"id":"10854db.630dcb2","type":"ui_group","z":"","name":"CONFIGURATOR","tab":"bbecaa68.f4e388","disp":true,"width":"6","collapse":false},{"id":"bbecaa68.f4e388","type":"ui_tab","z":"","name":"MONITOR MECHANISM CONFIGURATOR","icon":"dashboard","disabled":false,"hidden":false},{"id":"a24fae31.b3cc","type":"serial out","z":"e286b881.c92828","name":"","serial":"8ebcd172.70af2","x":1190,"y":240,"wires":[]},{"id":"57f0b09d.4f7fc","type":"serial in","z":"e286b881.c92828","name":"","serial":"8ebcd172.70af2","x":360,"y":500,"wires":[["73e1841.d345d7c"]]},{"id":"c9fb1e78.bef91","type":"ui_button","z":"e286b881.c92828","name":"unlock [$X]","group":"10854db.630dcb2","order":1,"width":"3","height":"1","passthru":false,"label":"unlock [$X]","tooltip":"","color":"","bgcolor":"","icon":"","payload":"$X","payloadType":"str","topic":"","x":370,"y":80,"wires":[[]]},{"id":"f5d634d7.c5d3c8","type":"ui_button","z":"e286b881.c92828","name":"home [$H]","group":"10854db.630dcb2","order":2,"width":"3","height":"1","passthru":false,"label":"home [$H]","tooltip":"","color":"","bgcolor":"","icon":"","payload":"$H","payloadType":"str","topic":"","x":370,"y":120,"wires":[["2b676e54.dc7032"]]},{"id":"253c3c32.fcd524","type":"ui_button","z":"e286b881.c92828","name":"SHOW CONFIG [$$]","group":"10854db.630dcb2","order":3,"width":"3","height":"1","passthru":false,"label":"SHOW CONFIG [$$]","tooltip":"","color":"","bgcolor":"","icon":"","payload":"$$","payloadType":"str","topic":"","x":340,"y":160,"wires":[["7807b96d.860848"]]},{"id":"ba965cd5.3de23","type":"ui_button","z":"e286b881.c92828","name":"CLEAR","group":"10854db.630dcb2","order":10,"width":"2","height":"1","passthru":true,"label":"CLEAR","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":460,"y":640,"wires":[["caf9726.fec0d9"]]},{"id":"caf9726.fec0d9","type":"function","z":"e286b881.c92828","name":"reset vals","func":"global.set(\"msg_array\", []);\n\nmsg.payload = [];\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":640,"wires":[["307730f2.bc351"]]},{"id":"2bfcdd3c.5e9ec2","type":"ui_ui_control","z":"e286b881.c92828","name":"","events":"all","x":300,"y":640,"wires":[["ba965cd5.3de23"]]},{"id":"73e1841.d345d7c","type":"function","z":"e286b881.c92828","name":"format response","func":"var list_struct = {\n    \"title\": \"\",\n    \"description\": \"\"\n};\n\nif (msg.payload.toString().length > 2){\n    list_struct.description = \"> \"+msg.payload.toString();\n    var curr_msg_array = global.get(\"msg_array\");\n    curr_msg_array.push(list_struct);\n    global.set(\"msg_array\", curr_msg_array);\n}\n\nmsg.payload = curr_msg_array;\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":600,"y":500,"wires":[["4fbf5ac7.ab5454"]]},{"id":"4fbf5ac7.ab5454","type":"ui_list","z":"e286b881.c92828","group":"10854db.630dcb2","name":"console","order":7,"width":"6","height":"6","lineType":"two","actionType":"none","allowHTML":true,"outputs":0,"topic":"","x":860,"y":500,"wires":[]},{"id":"307730f2.bc351","type":"link out","z":"e286b881.c92828","name":"reset node","links":["879b1bf1.1f0138"],"x":735,"y":640,"wires":[]},{"id":"879b1bf1.1f0138","type":"link in","z":"e286b881.c92828","name":"","links":["307730f2.bc351","1e62a85b.7cc578"],"x":715,"y":560,"wires":[["4fbf5ac7.ab5454"]]},{"id":"b4b43e06.fbe96","type":"function","z":"e286b881.c92828","name":"set curr cmd","func":"global.set(\"curr_cmd\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":420,"wires":[["ce4bc0c9.6bbc3"]]},{"id":"1e62a85b.7cc578","type":"link out","z":"e286b881.c92828","name":"reset node","links":["879b1bf1.1f0138"],"x":915,"y":420,"wires":[]},{"id":"ce4bc0c9.6bbc3","type":"function","z":"e286b881.c92828","name":"format cmd","func":"var list_struct = {\n    \"title\": \"\",\n    \"description\": \"\"\n};\n\nif (msg.payload.toString().length > 0){\n    list_struct.description = \"cmd sent: \" + msg.payload.toString();\n    var curr_msg_array = global.get(\"msg_array\");\n    curr_msg_array.push(list_struct);\n    global.set(\"msg_array\", curr_msg_array);\n}\n\nmsg.payload = curr_msg_array;\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":790,"y":420,"wires":[["1e62a85b.7cc578"]]},{"id":"e778826e.bb8d3","type":"ui_text_input","z":"e286b881.c92828","name":"custom cmd","label":"custom cmd","tooltip":"","group":"10854db.630dcb2","order":9,"width":"4","height":"1","passthru":true,"mode":"text","delay":"0","topic":"","x":370,"y":320,"wires":[["b57fcfcc.88e2e"]]},{"id":"60574693.67c9d8","type":"ui_text_input","z":"e286b881.c92828","name":"SET FEED RATE ","label":"SET FEED RATE [mm/sec]","tooltip":"","group":"10854db.630dcb2","order":4,"width":"0","height":"0","passthru":true,"mode":"text","delay":"0","topic":"","x":360,"y":200,"wires":[["b7695cf4.6b302"]]},{"id":"7ee6102.7bde7f","type":"ui_text_input","z":"e286b881.c92828","name":"SET MAX TRAVEL","label":"SET MAX TRAVEL [mm]","tooltip":"","group":"10854db.630dcb2","order":5,"width":"0","height":"0","passthru":true,"mode":"text","delay":"0","topic":"","x":350,"y":240,"wires":[["dc6103bd.12c24"]]},{"id":"e47b3d07.9fd75","type":"link in","z":"e286b881.c92828","name":"serial in","links":["e51fb80d.300c38","7807b96d.860848","2b676e54.dc7032","b57fcfcc.88e2e","87ac41e0.5ee6b","e2cce913.a63ae8"],"x":1015,"y":240,"wires":[["a24fae31.b3cc"]]},{"id":"e51fb80d.300c38","type":"link out","z":"e286b881.c92828","name":"cmd pallet","links":["e47b3d07.9fd75","4ff9cae3.588474"],"x":555,"y":80,"wires":[]},{"id":"2b676e54.dc7032","type":"link out","z":"e286b881.c92828","name":"cmd pallet","links":["e47b3d07.9fd75","4ff9cae3.588474"],"x":555,"y":120,"wires":[]},{"id":"7807b96d.860848","type":"link out","z":"e286b881.c92828","name":"cmd pallet","links":["e47b3d07.9fd75","4ff9cae3.588474"],"x":555,"y":160,"wires":[]},{"id":"b57fcfcc.88e2e","type":"link out","z":"e286b881.c92828","name":"cmd pallet","links":["e47b3d07.9fd75","4ff9cae3.588474"],"x":555,"y":320,"wires":[]},{"id":"b7695cf4.6b302","type":"function","z":"e286b881.c92828","name":"add pre for feed rate","func":"var new_msg = {\n    \"topic\": \"\",\n    \"payload\": \"\"\n}\nnew_msg.payload = \"$112=\" + msg.payload.toString();\nreturn new_msg;","outputs":1,"noerr":0,"x":580,"y":200,"wires":[[]]},{"id":"dc6103bd.12c24","type":"function","z":"e286b881.c92828","name":"add pre for max travel","func":"var new_msg = {\n    \"topic\": \"\",\n    \"payload\": \"\"\n}\nnew_msg.payload = \"$132=\" + msg.payload.toString();\nreturn new_msg;","outputs":1,"noerr":0,"x":580,"y":240,"wires":[["e2cce913.a63ae8"]]},{"id":"e2cce913.a63ae8","type":"link out","z":"e286b881.c92828","name":"cmd pallet","links":["e47b3d07.9fd75","4ff9cae3.588474"],"x":735,"y":240,"wires":[]},{"id":"4ff9cae3.588474","type":"link in","z":"e286b881.c92828","name":"","links":["e51fb80d.300c38","7807b96d.860848","87ac41e0.5ee6b","2b676e54.dc7032","e2cce913.a63ae8","b57fcfcc.88e2e"],"x":455,"y":420,"wires":[["b4b43e06.fbe96"]]}]